@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Metamorphous&display=swap');


:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.50rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-7: 2.25rem;
  --size-7: 2.50rem;
  --size-7: 2.75rem;
  --size-8: 3rem;

  --primary-color: #c5f5dd;
  --secondary-color: #5df0c9;
  --primary-text-color: #4ef013;
  --common-text-color: black;
  --contrast-color: #1b7400;
  --bright-color: indigo;

  --shadow-contrast: rgba(6, 156, 1, 0.3);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}